# application.yml

spring:
  application:
    name: jdata
    version: 0.0.1-SNAPSHOT
    dpt: 912044
    dntdom: GPB
    user: test_user
    ip: test_ip
    host: test_dns
    port: test_port

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/jdata_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:kampus}
    driverClassName: org.postgresql.Driver
    # driverClassName: org.apache.ignite.IgniteJdbcThinDriver
    hikari:
      maximum-pool-size: 20
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      pool-name: TargetDBPool

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        default_schema: postgres_metadata
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true
        temp:
          use_jdbc_metadata_defaults: false

  flyway:
    schemas: jdata
    enabled: true
    locations: classpath:db/migration
    url: ${DB_URL:jdbc:postgresql://localhost:5432/jdata_db}
    user: ${DB_USER:postgres}
    password: ${DB_PASSWORD:kampus}

greenplum:
  url: ${GREENPLUM_URL:jdbc:postgresql://localhost:5432/adb}
  username: ${GREENPLUM_USERNAME:user}
  password: ${GREENPLUM_PASSWORD:password}
  type: PostgreSQL
  
ord:
  api:
    baseUrl: http://localhost:8585/api/v1
    max-connections: 10 # Количество параллельно выполняемых api в ОРД
  greenplum:
    serviceName: NDP
    dbName: adb

sync:
  enabled: true
  interval: 60000
  
keycloak:
  server-url: https://auth.example.com/realms/myrealm/protocol/openid-connect/token
  client-id: my-client
  client-secret: my-secret # Опционально
  username: service-user
  password: service-pass

jwt:
  token: ${JWT_ORDA:secretToken}

logs-database:
  enabled: true
  task-create-partition: 0 0 0 * * ?
  url: ${DB_AUDIT_URL:jdbc:postgresql://localhost:5432/audit}
  username: ${DB_AUDIT_USER:postgres}
  password: ${DB_AUDIT_PASSWORD:kampus}
  driverClassName: org.postgresql.Driver
  table: "audit.jdata_log"

clean-database-logs:
  # cron expression, to switch off put value '-'
  task-cleaner-schedule: 0 0 1 * * ?
  # delete logs from db that older than X years
  clean-period: 3

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,info
    endpoint:
      health:
        show-details: always
    metrics:
      export:
        prometheus:
          enabled: true

logging:
  cef:
    path: logs/cef
    retention-days: 30
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.engine.jdbc.connections.internal.DriverManagerConnectionProviderImpl: DEBUG
    org.apache.flink: INFO
    org.springframework.jdbc: WARN
    com.gpb.metadata.ingestion: DEBUG
  file:
    name: logs/jdata.log
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
    console: "%d{HH:mm:ss} %-5level %logger{36} - %msg%n"
  logback:
    rollingpolicy:
      max-file-size: 50MB
      max-history: 7
      